<section id="header">

    <div style="float:left;background-color:#fff;width:100%;">
        <!--<div style="float:left;width:100%;background:rgb(76, 175, 80);padding-top:15px;">
            <div class="container" style="padding:0;">
                <div class="logo_title">Зуун наст эмийн үйлдвэр</div>
            </div>
        </div>-->
        <div class="container" style="padding:0;">

            <img src="assets/images/logozuunnast.png" style="max-height:100px;">
            <ul id="headermenu" hide-xs>
                <li ui-sref-active="active">
                    <a ui-sref="app.index">Нүүр хуудас</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.aboutus">Танилцуулга</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.products">Бүтээгдэхүүн</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.postlist">Мэдээлэл</a>
                </li>
                <!--<li ui-sref-active="active">
                    <a ui-sref="app.contact">Холбогдох</a>
                </li>-->
            </ul>
        </div>
    </div>
    <div style="float:left;background-color:#fff;width:100%;" data-ng-show="$state.includes('app.index')">
        <div class="post_image" style="background-image:url(assets/images/bg1_bkup.jpg);padding-bottom:30%;background-position-y: bottom;position:relative;padding-bottom:0px;">
            <div class="container" style="padding:0;"><span style="width: 100%;color: #fff;line-height: 36px;font-size: 21px;float: left;padding: 15% 20px 5% 20px;">Дотоодын чанарын хяналтын лабораторидоо ургамал, эрдэс, химийн бодис ашиглан шинэ эм бүтээх, туршилт тавих, шалгах, эрдэмтэд, мал эмнэлгийн мэргэжилтнүүдтэй хамтран ажиллах зорилт тавин ажиллаж байна.</span></div>
        </div>
        <!--<ks-swiper-container loop="true" show-nav-buttons="false" pagination-is-active="true" slides-per-view="1" space-between="0" pagination-clickable="false" id="headerslider" override-parameters="{'autoHeight':true, 'effect':'fade'}">
            <ks-swiper-slide class="swiper-slide" ng-repeat="s in [1]">
                <div class="post_image" ng-style="{'background-image':'url(assets/images/slider{{s}}.jpg)'}" style="padding-bottom:25%;">
            </ks-swiper-slide>
        </ks-swiper-container>-->
    </div>
    <div style="float:left;background-color:#fff;width:100%;" data-ng-hide="$state.includes('app.index')">
        <div class="post_image" style="background-image:url(assets/images/bg1_bkup.jpg);padding-bottom:180px;"></div>
        <!--<ks-swiper-container loop="true" show-nav-buttons="false" pagination-is-active="true" slides-per-view="1" space-between="0" pagination-clickable="false" id="headerslider" override-parameters="{'autoHeight':true, 'effect':'fade'}">
            <ks-swiper-slide class="swiper-slide" ng-repeat="s in [1]">
                <div class="post_image" ng-style="{'background-image':'url(assets/images/slider{{s}}.jpg)'}" style="padding-bottom:25%;">
            </ks-swiper-slide>
        </ks-swiper-container>-->
    </div>

</section>

<!--<md-toolbar style="background-color:#4CAF50;">
        <div class="container">
            <div class="md-toolbar-tools">
                <span class="logo_title">Зуун наст эмийн үйлдвэр</span>
                <span flex></span>
                <md-button ui-sref="app.login" ng-if="!vm.currentUser.uid.length > 0">
                    Нэвтрэх
                </md-button>
                <md-menu ng-if="vm.currentUser.uid.length > 0">
                    <md-button ng-bind="vm.currentUser.email" ng-click="$mdOpenMenu()"></md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ui-sref="app.admin.post">
                                <md-icon aria-label="exit" class="material-icons">dashboard</md-icon>
                                Удирдлагын хэсэг
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="auth.$signOut()">
                                <md-icon aria-label="exit" class="material-icons">exit_to_app</md-icon>
                                Гарах
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                
            </div>
        </div>
    </md-toolbar>-->